<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuhe.redpacket.mapper.CardLogMapper" >
  <insert id="save" parameterType="CardLog" useGeneratedKeys="true" keyProperty="id">
    insert into t_card_log (
        	userId ,
        	qrCodeId ,
        	cardId ,
        	cardName ,
        	userName ,
        	openid ,
        	wechat ,
        	receiveTime,
        	type
        ) VALUES (
        	#{userId} ,
        	#{qrCodeId} ,
        	#{cardId} ,
        	#{cardName} ,
        	#{userName} ,
        	#{openid} ,
        	#{wechat} ,
        	#{receiveTime},
        	#{type}
        )
  </insert>
  
  <update id="update" parameterType="CardLog">
  	update t_card_log set 
		userId = #{userId} ,
        qrCodeId = #{qrCodeId} ,
        cardId = #{cardId} ,
        cardName = #{cardName} ,
        userName = #{userName} ,
        openid = #{openid} ,
        wechat = #{wechat} ,
        receiveTime = #{receiveTime},
        type = #{type}
  	where id=#{id}
  </update>
  
  <delete id="delete" parameterType="long" >
    delete from t_card_log
    where id = #{id}
  </delete>
  
     <select id="get" resultType="CardLog" parameterType="long">
   	 select * from t_card_log
   	 where id = #{id}
  </select>
  
  <select id="getAll" resultType="CardLog" >
   	 select * from t_card_log 
  </select>
  
  	<sql id="whereSql">
		<where>
			<if test="cardId != null and cardId != -1">
				and r.cardId = #{cardId}
			</if>
			<if test="openid != null and openid != ''">
				and r.openid = #{openid}
			</if>
			<if test="qrCodeId != null and qrCodeId != -1">
				and r.qrCodeId = #{qrCodeId}
			</if>
			<if test="type != null and qrCodeId != -1">
				and r.type = #{type}
			</if>
			and r.receiveTime is not null
			<if test="beginTime != null and beginTime != ''">
				and r.receiveTime>=#{beginTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and r.receiveTime &lt; #{endTime}
			</if>
		</where>
	</sql>
  
  <select id="query" resultType="CardLog"  parameterType="BaseQuery">
		select r.*
		from t_card_log r
		left join t_qr_code a on r.qrCodeId = a.id
		<include refid="whereSql" />
		order by r.receiveTime desc
		<if test="pageSize!=-1">
			limit #{start},#{pageSize}
		</if>
	</select>
	
	<!-- 获取总记录数 -->
	<select id="queryTotal" resultType="long" parameterType="BaseQuery">
		select count(1) from
		(select count(1)
		from t_card_log r 
		left join t_qr_code a on r.qrCodeId = a.id
		<include refid="whereSql" />) c
	</select>
</mapper>