<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuhe.redpacket.mapper.CardsCompleteMapper" >
  <insert id="save" parameterType="CardsComplete" useGeneratedKeys="true" keyProperty="id">
    insert into t_cards_complete (
        	userId ,
        	cardsId ,
        	userName ,
        	openid ,
        	cardsName ,
        	code ,
        	status ,
        	completeTime ,
        	receiveTime 
        ) VALUES (
        	#{userId} ,
        	#{cardsId} ,
        	#{userName} ,
        	#{openid} ,
        	#{cardsName} ,
        	#{code} ,
        	#{status} ,
        	#{completeTime} ,
        	#{receiveTime} 
        )
  </insert>

  <update id="update" parameterType="CardsComplete">
  	update t_cards_complete set 
  		userId = #{userId} ,
        cardsId = #{cardsId} ,
        userName = #{userName} ,
        openid = #{openid} ,
        cardsName = #{cardsName} ,
        code = #{code} ,
        status = #{status} ,
        completeTime = #{completeTime} ,
        receiveTime = #{receiveTime} 
  	where id=#{id} 
  </update>
  
  <delete id="delete" parameterType="long" >
    delete from t_cards_complete
    where id = #{id}
  </delete>
  
  <select id="get" resultType="CardsComplete" parameterType="long">
   	 select * from t_cards_complete 
   	 where id = #{id}
  </select>
  
  <select id="getAll" resultType="CardsComplete" >
   	 select * from t_cards_complete 
  </select>
  
  <sql id="whereSql">
		<where>
			<if test="code != null and code != ''">
				and a.code = #{code}
			</if>
			<if test="userName != null and userName != ''">
				and a.userName like concat('%',#{userName},'%')
			</if>
		</where>
	</sql>
  
  <select id="query" resultType="CardsComplete"  parameterType="BaseQuery">
		select a.*
		from t_cards_complete a
		<include refid="whereSql" />
		order by a.status,a.completeTime desc
		<if test="pageSize!=-1">
			limit #{start},#{pageSize}
		</if>
	</select>
	<!-- 获取总记录数 -->
	<select id="queryTotal" resultType="long" parameterType="BaseQuery">
		select count(1)
		from t_cards_complete a 
		<include refid="whereSql" />
	</select>

	<!-- 抽奖记录-->
	<select id="findByUser" resultType="CardsComplete">
		select *
		from t_cards_complete
		where openid = #{openid} and receiveTime is not null
	</select>
</mapper>