<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
			">
	<!-- 开启mvc注解支持 -->
	<mvc:annotation-driven />
	<!-- 开启静态资源支撑 -->
	<mvc:default-servlet-handler />
	<!-- SpringMVC视图分解器 配置前缀和后缀 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- 拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- 设置拦截器，拦截的（地址）规则 -->
			<mvc:mapping path="/**" />
			<!-- 不拦截登录和静态资源 -->
			<mvc:exclude-mapping path="/css/**" />
			<mvc:exclude-mapping path="/**/*.txt" />
			<mvc:exclude-mapping path="/**/*.ico" />
			<mvc:exclude-mapping path="/easyui/**" />
			<mvc:exclude-mapping path="/errorPage/**" />
			<mvc:exclude-mapping path="/fonts/**" />
			<mvc:exclude-mapping path="/images/**" />
			<mvc:exclude-mapping path="/jquery-validate/**" />
			<mvc:exclude-mapping path="/js/**" />
			<mvc:exclude-mapping path="/swagger/**" />
			<mvc:exclude-mapping path="/login" />
			<mvc:exclude-mapping path="/checkLogin" />
			<mvc:exclude-mapping path="/randomCode/**" />
			<mvc:exclude-mapping path="/WEB-INF/pages/common.jsp" />
			<!-- 不拦截非后台管理资源-->
			<mvc:exclude-mapping path="/app/**" />
			<mvc:exclude-mapping path="/mobile/**" />
			<!-- 拦截器的全类名 -->
			<bean class="com.liuhe.redpacket.web.interceptor.LoginInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<!-- 设置拦截器，拦截的（地址）规则 -->
			<mvc:mapping path="/mobile/**" />
			<!-- 拦截器的全类名 -->
			<bean class="com.liuhe.redpacket.web.interceptor.WxInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>


</beans>